#contenedor {
    display: flex;    
    background-color: aquamarine;
    flex-wrap: wrap;
}

#contenedora {
    width: 100%;
    height: 100px;
    background-color:firebrick;
    margin:15px;
}

#contenedorb {
    width: 70%;
    height: 100px;
    margin:15px;
    background-color: blue;
}

#contenedorc {
    height: 200px;
    width: 20%;
    margin:15px;
    background-color: blue;
}
#contenedord {
    width: 20%;
    height: 80px;
    margin: 15px;
    margin-top: -95px;
    background-color: blue;
}
#contenedore {
    width: 20%;
    height: 80px;
    margin: 15px;
    margin-top: -95px;
    background-color: blue;
}
#contenedorf {
    width: 20%;
    height: 80px;
    margin: 15px;
    margin-top: -95px;
    background-color: blue;
}